In [62]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [63]:
data = pd.read_csv('./files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
display(data.shape)
data.head()

(9134, 24)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [64]:
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

2.Find all of the categorical data. Save it in a categorical_df variable.

In [65]:
categorical_df = data.select_dtypes(object)
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

3.Check for NaN values and decide what to do with them, do it now.

In [66]:
categorical_df.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

4.Check all unique values of columns.

In [67]:
for col in categorical_df.columns:
    display(f"Unique values in {col}: {categorical_df[col].unique()}")

"Unique values in Customer: ['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']"

"Unique values in State: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']"

"Unique values in Response: ['No' 'Yes']"

"Unique values in Coverage: ['Basic' 'Extended' 'Premium']"

"Unique values in Education: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']"

"Unique values in Effective To Date: ['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'\n '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'\n '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'\n '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'\n '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'\n '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'\n '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'\n '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'\n '1/30/11' '2/22/11' '1/7/11']"

"Unique values in EmploymentStatus: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']"

"Unique values in Gender: ['F' 'M']"

"Unique values in Location Code: ['Suburban' 'Rural' 'Urban']"

"Unique values in Marital Status: ['Married' 'Single' 'Divorced']"

"Unique values in Policy Type: ['Corporate Auto' 'Personal Auto' 'Special Auto']"

"Unique values in Policy: ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'\n 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']"

"Unique values in Renew Offer Type: ['Offer1' 'Offer3' 'Offer2' 'Offer4']"

"Unique values in Sales Channel: ['Agent' 'Call Center' 'Web' 'Branch']"

"Unique values in Vehicle Class: ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'\n 'Luxury Car']"

"Unique values in Vehicle Size: ['Medsize' 'Small' 'Large']"

5.Check dtypes. Do they all make sense as categorical data?

In [68]:
categorical_df['Customer'].value_counts(dropna=False)

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64

In [69]:
categorical_df['State'].value_counts(dropna=False)

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

In [70]:
categorical_df['Response'].value_counts(dropna=False)

No     7826
Yes    1308
Name: Response, dtype: int64

In [71]:
categorical_df['Coverage'].value_counts(dropna=False)

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

In [72]:
categorical_df['Education'].value_counts(dropna=False)

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

In [73]:
categorical_df['Effective To Date'].value_counts(dropna=False)

1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64

In [74]:
categorical_df['EmploymentStatus'].value_counts(dropna=False)

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

In [75]:
categorical_df['Gender'].value_counts(dropna=False)

F    4658
M    4476
Name: Gender, dtype: int64

In [76]:
categorical_df['Location Code'].value_counts(dropna=False)

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

In [77]:
categorical_df['Marital Status'].value_counts(dropna=False)

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

In [78]:
categorical_df['Policy Type'].value_counts(dropna=False)

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

In [79]:
categorical_df['Policy'].value_counts(dropna=False)

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

In [80]:
categorical_df['Renew Offer Type'].value_counts(dropna=False)

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

In [81]:
categorical_df['Sales Channel'].value_counts(dropna=False)

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

In [82]:
categorical_df['Vehicle Class'].value_counts(dropna=False)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

In [83]:
#'Effective To Date' dosen't make sense, because as categorical are too much, and can't calculate.

6.Does any column contain alpha and numeric data? Decide how to clean it and do it now.

In [84]:
# yes, the 'Policy', see N.8

7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions and do it now.

In [85]:
#Change effective to date column to datetime format.
categorical_df['Effective To Date'] = pd.to_datetime(categorical_df['Effective To Date'])
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [86]:
# 'EmploymentStatus'  Employed and Unemployed are most of the values. the other three just about 10%, dosen't make sense, so change them to 'other'
def clean_em(x):
    if x == 'Employed' or x =='Unemployed':
        return x
    else:
        return 'other'

categorical_df['EmploymentStatus']= categorical_df['EmploymentStatus'].apply(clean_em)
categorical_df['EmploymentStatus'].value_counts(dropna=False)

Employed      5698
Unemployed    2317
other         1119
Name: EmploymentStatus, dtype: int64

In [87]:
# 'Vehicle Class'  Sports Car, Luxury SUV, Luxury Car this there values less than 10% from the total, also can put them together as Luxury.
def clean_class(x):
    if x == 'Sports Car' or x =='Luxury SUV' or x =='Luxury Car':
        return 'Luxury'
    else:
        return x

categorical_df['Vehicle Class']= categorical_df['Vehicle Class'].apply(clean_class)
categorical_df['Vehicle Class'].value_counts(dropna=False)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Luxury            831
Name: Vehicle Class, dtype: int64

8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [88]:
# 'Policy Type' has different Types from Policy, so the 'Policy' we just need the number.

In [89]:
def clean_policy(x):
    if 'L1' in x:
        return 'L1'
    if 'L2' in x :
        return 'L2'
    if 'L3' in x:
        return 'L3'
    else:
        return 'other'

categorical_df['Policy']= categorical_df['Policy'].apply(clean_policy)
categorical_df['Policy'].value_counts(dropna=False)

L3    4588
L2    2881
L1    1665
Name: Policy, dtype: int64

10.Save the cleaned catagorical dataframe as categorical.csv You will use this file again this week.

In [90]:
categorical_df.to_csv('categorical.csv', index=False)